
.shop {
  width: 100%;
  background-color: white;
  min-width: 400px;
  margin:0PX auto 30px;
  
  
}


.fas .fa-shopping-cart {
  font-size: 20px;
}
.shop-container {
  margin:0px 10px;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
 
}
.navi {
  display:flex;
  justify-content: space-around;
  position: sticky;
  top:0;
  background-color:#4056A1;
  height: 60px;
  margin-bottom: 50px;
}
.button {
  padding: 3px;
  height: 35px;
  font-size: 25px;
  margin: 10px 20px 30px;
  color : white;
  cursor:pointer;
  
}
.input-container {
  display:flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}
.basket-qty {
  width: 20px;
  margin:5px 5px;
  outline:1px solid black;
  font-size: 16px;
  text-align: center;
  display:inline-block;
}

.minus-plus {
  font-size: 12px;
  cursor: pointer;
  width: 25px;
  line-height: 12px;
}
.button:hover {
  outline: 1px solid;
  outline-color: #efe2ba;
}
.item-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-bottom:#4056A1 solid 1px;
  margin:15px 5px 50px;
  
}

.name-price-container {
  
  height: 100px;
  width: 170px;
  margin:0 auto 15px;
}
.img-container {
  width: 200px;
}

.item-name {
 
  height: 30px;
  font-size: 20px;
}
.item-image {
  width: auto;
  height: 100px;
}
.basket-image {
  height: 70px;
  width: auto;
}
.addbasket {
  border:none;
  text-decoration: none;
  background-color:  #efe2ba;
  cursor:pointer;
  height: 20px;
  font-size:15px;
  margin:0 5px 5px auto ;
  align-self: flex-end;
  width: 110px;
   
}
.addbasket:hover {
  outline:1px solid;
  outline-color:#D79922;
} 
.basket-img-container {
  width: 200px;
}
.item-price {
  font-size: 18px;
  height: 30px;
}
.basket-container {
            
  max-width: 600px;
  margin:50px auto;
}
.basket-item-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 30px;
  margin:100px auto ; 
  
 
}
.basket-name .basket-price {
  display:inline-block;
}
.basket-name {
  width: 150px;
}
.basket-price {
  width: 50px;
  margin-left:20px;
}
 
.input-div {
  width:130px;
  
  
  border-radius: 3px ;
  
}
.qty {
  margin-left:5px;
  font-size: 14px;
}
.quantity {
  width: 10px;
  margin-left:5px;
} 
.basket-quantity {
  
  font-size: 20px;
  color:#4056A1;
  background-color: white;
  
}

.basket-button {
  height: 20px;
  font-size: 13px;
  background-color: #efe2ba;
  border:none;
  border-radius: 3px;
  cursor: pointer;
}
.subtotal {
  display:flex;
  justify-content: space-between;
  border-top:#4056A1 solid 1px;
  margin:20px 5px;
  font-size: 20px;
  padding-top:10px;
}
.empty {
  border-top:#4056A1 solid 1px;
  border-bottom:#4056A1 solid 1px;
  text-align: center;
  margin:100px auto;
  font-size: 30px;
  padding:30px 0px;

}
.shop-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}